/* ====================
      Laptop Screen
   ==================== */

@media screen and (max-width: 1440px) and (min-width: 1024px) {
	body {
		margin: 0;
    padding: 0;
    height: 100vw;
	}
	.small-header {
		display: none;
	}
	.top-nav {
		width: 100vw;
		z-index: 100;
  }
	
	.date{
		display: none;
	}

  .titulo{
    font-size: 12px;
    margin-bottom: 5px;
  }

  .ancla{
    font-size: 12px;
  }

	.main-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 92px 3% 0 3%;
    width: 94vw;
    
	}
	.main-grid-item1 h2 {
		font-size: 40px;
	}
	.main-grid-item1 {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgb(224, 108, 108) 95%);
		grid-area: 1 / 1 / 3 / 3;
	}
	.main-grid-item2 {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgb(224, 108, 108) 95%);
		grid-area: 1 / 3;
	}
	.main-grid-item3 {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgb(224, 108, 108) 95%);
		grid-area: 2 / 3;
	}
	.top-img-div {
		display: grid;
		grid-template-columns: repeat(4, minmax(auto, 1fr));
		grid-template-rows: repeat(2, minmax(auto, 1fr));
		margin: 0;
		width: 95%;
	}
	.micro-grav2 h4 {
		font-size: 16px;
		font-weight: 400;
	}
	.eight-grids > article {
		display: grid;
	}
	.eight-grids {
		margin: 100px auto;
	}
	.info {
		margin: 40px 0 30px 0;
	}
	.micro-grav img {
		height: auto;
		width: 270px;
	}
	.micro-grav {
		padding: 0;
	}
	.funding-list {
		padding-top: 50px;
	}
	.funding-grid-container {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, auto);
		justify-items: center;
		margin: 0 auto 0 50px;
		width: 95%;
	}
	.funding-grid-items {
		position: relative;
	}
	.orange p,
		 .lightorange p {
		padding-left: 100px;
	}
	.smartlogo {
		height: 10px;
		left: 10px;
		position: absolute;
		top: 10px;
		width: auto;
	}
	.orange {
		background-color: #f42;
		height: 45px;
	}
	.orange p {
		color: white;
		font-size: 18px;
		font-weight: 700;
		padding-top: 11px;
	}
	.lightorange {
		background-color: #ffebe7;
		height: 59px;
	}
	.lightorange p {
		font-size: 18px;
		font-weight: 700;
		padding-top: 14px;
	}
	.beige1 {
		background-color: #fffaf8;
		border-bottom: 1px solid #f42;
		height: 80px;
	}
	.beige1 p,
		 .beige2 p {
		font-size: 13px;
		padding-left: 15px;
		padding-top: 13px;
	}
	.beige2 {
		background-color: #fffaf8;
		height: 45px;
	}
	.stub-para {
		font-size: 1.5em;
		width: 30vw;
	}
	.one-img {
		height: auto;
		width: 100%;
	}
	.apps {
		margin-top: 100px;
	}
	.eight-grids1 {
		margin: 50px 180px;
	}
	.deals-cont img {
		height: auto;
		width: 217px;
	}
	.deals-cont {
		padding: 0;
	}
	.info1 {
		color: #f42;
    margin: 20px 20px 20px 0;
    font-size: 18px;
    font-weight: bold;
	}
	.info0 {
		margin-bottom: 30px;
	}
	.info0 a {
		color: #f42;
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
		text-decoration: none;
	}
	.info1 a {
		color: #f42;
	}
	.info a {
		color: #f42;
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
		text-decoration: none;
	}
	.latest-div1 a {
		bottom: 0;
	}
	.apps-anch a {
		font-size: 14px;
	}
}

/* ====================
      iPad Screen
   ==================== */

   @media screen and (max-width: 1023ruby -vpx) and (min-width: 728px) {
    body {
      padding: 0;
      width: 100vw;
      overflow-x: hidden;

    }
    
    .info{
      margin: 60px 0 60px 15px;
      width: 50vw;
		}
		
		.white-nav-img{
			display: none;
		}

    .right-white-list {
      margin-left: 390px;
    }

    .small-header {
      display: none;
    }
    .top-nav {
      width: 100vw;
      z-index: 100;
    }

    .fas.fa-search.fa-3x,
       .fas.fa-bars.fa-3x {
      border-left: 1px solid #3f3c3c;
      padding: 25px;
    }
    .fas,
       .fa-bars,
       .fa-3x {
      color: #d11;
    }
    .yellow-bar {
      background-color: #fd3;
      height: 40px;
    }
    .yellow-bar h4 {
      font-size: 16px;
      padding-top: 15px;
      text-align: center;
    }
    .tnwlog,
       .left-art-top {
      display: none;
    }
    .div-extra {
      justify-self: start;
      margin-top: 20px;
      padding-left: 20px;
      width: auto;
    }
    .latest-div1 h4,
       .latest-div2 h4 {
      bottom: 20px;
      color: #f00;
      padding: 20px 0 10px 0;
      position: relative;
    }
    .latest-div4,
       .latest-div5,
       .latest-div6,
       .latest-div7 {
      width: 100%;
    }
    .latest-div2 a {
      bottom: 30px;
      color: #f00;
      position: relative;
      width: 200px;
    }
    .funding-title-container {
      color: #f42;
      line-height: 2em;
      margin: 0 auto 30px auto;
      width: 95%;
    }
    .funding-title {
      font-size: 28px;
    }
    .funding-grid-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(4, auto);
      margin: 0 3%;
      width: 90%;
    }
    .funding-grid-items {
      position: relative;
    }
    .orange p,
       .lightorange p {
      padding-left: 100px;
    }
    .smartlogo {
      height: 70px;
      left: 10px;
      position: absolute;
      top: 10px;
    }
    .orange {
      background-color: #f42;
      height: 45px;
    }
    .orange p {
      color: white;
      font-size: 18px;
      font-weight: 700;
      padding-top: 11px;
    }
    .lightorange {
      background-color: #ffebe7;
      height: 59px;
    }
    .lightorange p {
      font-size: 18px;
      font-weight: 700;
      padding-top: 14px;
    }
    .beige1 {
      background-color: #fffaf8;
      border-bottom: 1px solid #f42;
      height: 80px;
    }
    .beige1 p,
       .beige2 p {
      font-size: 13px;
      padding-left: 15px;
      padding-top: 13px;
    }
    .beige2 {
      background-color: #fffaf8;
      height: 45px;
    }
    .funding-grid-item4 {
      display: none;
    }
    .funding-list li {
      display: inline;
      font-size: 16px;
      padding: 0 8px;
      padding: 5px;
    }
    .sec-4-eight {
      bottom: 150px;
      margin-top: 0;
    }
    .eight-grids {
      z-index: 0;
    }
    .eight-grids1 {
      margin: -150px 0 0 0;
      z-index: 0;
    }
    .top-img-div {
      display: grid;
      gap: 120px 10px;
      margin: 0 3% 0 3%;
      width: 90%;
    }

    .news-latest {
      color: #f42;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    .red {
      height: 500px;
      width: 350px;
    }
    .top-img-div img {
      height: 310px;
      width: 350px;
    }
    .apps small {
      font-size: 21px;
    }
    .apps-h1 h4 {
      bottom: 0;
      font-size: 40px;
      position: relative;
      right: 40px;
      top: 30px;
      width: 500px;
    }
    .funding-list {
      display: grid;
      font-size: 14px;
      grid-template-columns: 1fr;
      position: relative;
      right: 30px;
      top: 60px;
    }
    .funding {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: space-between;
      height: 150px;
    }
    .funding-nav{
      height: 20px;
      margin: 30px 0 60px 0;
    }
    .insignia{
      font-size: 28px;
    }
    .funding-nav ul {
      color: #f42;
      display: inline;
      font-size: 12px;
      line-height: 10px;
      list-style: none;
    }
    .one {
      margin-left: 0;
    }
    .funding-img-cont {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0;
      overflow-x: hidden;
      width: 97%;
      margin-bottom: 120px;
    }
    .apps {
      bottom: 200px;
      display: grid;
      flex-direction: column;
      grid-template-columns: repeat(1fr, auto);
      row-gap: 60px;
      position: relative;
      width: 90vw;
      padding: 0 3% 0 3%;
    }
    .info1 {
      color: #f42;
      margin: 20px 20px 20px 0;
    }
    .footer-down-div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .tnw-small {
      width: 50px;
    }
    .footer-down-div span {
      background-color: black;
      font-size: 14px;
    }
    .one-img {
      height: auto;
      padding: 0;
      padding-bottom: 20px;
      width: 98%;
    }
    .fb-class h2,
       .fb-class h4 {
      top: 30px;
      width: 500px;
    }
    .info-txt-div,
       .reddit-div,
       .red-txt,
       .simpson,
       .latest-div1,
       .wacom,
       .latest-div2,
       .latest-div3,
       .creative-div,
       .launch-div,
       .deals-cont,
       .div-4-eigh {
      margin-top: 0;
      width: 312px;
    }
    .latest-div3 {
      width: 100%;
    }
    .div-4-eight {
      padding-right: 50px;
    }
    .footer-up-div {
      height: 100px;
    }
    .list-container {
      display: grid;
      grid-template-columns: repeat(5, auto);
    }
    .funding-img-cont img {
      height: 80px;
      width: 80px;
    }
    .info0 a {
      color: #f42;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 20px;
      text-decoration: none;
    }
    .info a {
      color: #f42;
      font-size: 25px;
      font-weight: 700;
      margin: 20px 0 0 25px;
      text-decoration: none;
    }
    .top-img-div > .deals-cont img {
      float: left;
      height: 170px;
      margin-right: 17px;
      width: 228px;
    }
    .top-img-div > .micro-grav img {
      height: auto;
      width: 228px;

    }
    .micro-grav,
       .deals-cont {
      height: 80px;
      margin-bottom: 40px;
      width: 100%;
    }
    .reddit-div h4 {
      width: 500px;
    }
    .info1 a {
      color: #f42;
    }
    .apps-anch a {
      color: rgb(97, 97, 97);
      font-size: 14px;
    }
    .funding-list a {
      font-size: 14px;
    }
    .top-img-div > .deals-cont a {
      color: rgb(75, 75, 75);
    }
    .red-txt,
.latest-div1,
.latest-div2,
.latest-div3,
.latest-div4,
.latest-div5,
.latest-div6,
.latest-div7 {
	background-color: rgb(252, 213, 210);
	color: red;
	display: grid;;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  font-weight: bold;
	height: 120px;
	justify-content: space-between;
	justify-items: end;
	width: 312px;
  } 

  .footer-cont{
    margin-top: 150px;
  }

  .micro-grav2 h4{
    font-size: 14px;
    font-weight: 300;
  }

  .info0 {
    margin-left: 15px;
  }

  .div-4-eight{
    width: 50vw;
  }
}

/* ====================
      iPhone Screen
   ==================== */

@media screen and (max-width: 728px) and (min-width: 338px) {
	body {
		padding: 0;
		width: 100vw;
	}
	.top-img-div > .micro-grav img {
		float: left;
		height: 80px;
		margin-right: 10px;
		width: 119px;
	}
	.top-header {
		display: none;
	}
	.small-header {
		background-color: #fff;
		display: grid;
		grid-template-rows: repeat(2, auto);
		overflow-x: hidden;
		position: fixed;
		width: 100vw;
		z-index: 1;
	}
	.small-top-bar {
		display: grid;
		grid-template-columns: repeat(2, auto);
		height: 100px;
		justify-content: space-between;
		width: 100%;
	}
	.fas.fa-search.fa-3x,
		 .fas.fa-bars.fa-3x {
		border-left: 1px solid #3f3c3c;
		padding: 25px;
	}
	.fas,
		 .fa-bars,
		 .fa-3x {
		color: #d11;
	}
	.yellow-bar {
		background-color: #fd3;
		height: 40px;
		width: 100vw;
	}
	.yellow-bar h4 {
		font-size: 11px;
		padding-top: 15px;
		text-align: center;
	}
	.tnwlog,
		 .left-art-top {
		display: none;
	}
	.latest-div1 h4,
		 .latest-div2 h4 {
		bottom: 20px;
		color: #f00;
		padding: 20px 0 10px 0;
		position: relative;
	}
	.latest-div4,
		 .latest-div5,
		 .latest-div6,
		 .latest-div7 {
		width: 100%;
	}
	.latest-div2 a {
		bottom: 30px;
		color: #f00;
		position: relative;
		width: 200px;
	}
	.funding-title-container {
		color: #f42;
		line-height: 2em;
		margin: 0 auto 30px auto;
		width: 95%;
	}
	.funding-title {
		font-size: 28px;
	}
	.funding-grid-container {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(4, auto);
		margin: 0 auto;
		width: 95%;
	}
	.funding-grid-items {
		position: relative;
	}
	.orange p,
		 .lightorange p {
		padding-left: 100px;
	}
	.smartlogo {
		height: 70px;
		left: 10px;
		position: absolute;
		top: 10px;
	}
	.orange {
		background-color: #f42;
		height: 45px;
	}
	.orange p {
		color: white;
		font-size: 18px;
		font-weight: 700;
		padding-top: 11px;
	}
	.lightorange {
		background-color: #ffebe7;
		height: 59px;
	}
	.lightorange p {
		font-size: 18px;
		font-weight: 700;
		padding-top: 14px;
	}
	.beige1 {
		background-color: #fffaf8;
		border-bottom: 1px solid #f42;
		height: 80px;
	}
	.beige1 p,
		 .beige2 p {
		font-size: 13px;
		padding-left: 15px;
		padding-top: 13px;
	}
	.beige2 {
		background-color: #fffaf8;
		height: 45px;
	}
	.funding-grid-item4 {
		display: none;
	}
	.sec-4-eight {
		bottom: 150px;
		margin-top: 0;
	}
	.eight-grids {
		margin: 160px 0 100px 0;
		width: 80%;
		z-index: 0;
	}
	.eight-grids1 {
		margin: -150px 0 0 0;
		width: 80%;
		z-index: 0;
	}
	.top-img-div {
		display: grid;
		gap: 14px;
		margin: 30px auto 60px auto;
		width: 95%;
	}
	.micro-grav > .micro-grav2 > .cosmic-op {
		font-size: 0.7em;
	}
	.micro-grav > .micro-grav2 > .hours-3 {
		font-size: 0.7em;
	}
	.micro-grav,
		 .deals-cont {
		height: 80px;
		width: 100%;
	}
	.news-latest {
		color: #f42;
		font-size: 1em;
		font-weight: 700;
		margin: 0;
	}
	.red {
		height: 500px;
		width: 350px;
	}
	.apps small {
		font-size: 21px;
	}
	.apps-h1 h4 {
		bottom: 0;
		font-size: 40px;
		position: relative;
		right: 40px;
		top: 30px;
		width: 500px;
	}
	.funding-list {
		display: grid;
		font-size: 14px;
		grid-template-columns: 1fr;
		left: 40px;
		margin-left: 40px;
	}
	.funding-list li {
		display: inline;
		font-size: 16px;
		padding: 0 8px;
	}
	.funding {
		bottom: 130px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 80px;
		position: relative;
	}
	.funding-nav ul {
		bottom: 40px;
		color: #f42;
		display: grid;
		font-size: 12px;
		line-height: 15px;
		list-style: none;
		margin: 0;
	}
	.one {
		margin-left: 0;
	}
	.funding-img-cont {
		bottom: 100px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 5%;
		overflow-x: hidden;
		position: relative;
		width: 85vw;
	}
	.apps {
		bottom: 200px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 20px;
		grid-template-rows: repeat(8, minmax(auto, 1fr));
		margin-top: 80px;
		overflow-x: hidden;
		padding: 0 20px 0 20px;
		position: relative;
		width: 95vw;
	}
	.info1 {
		color: #f42;
		margin: 20px 20px 20px 0;
	}
	.info1 a {
		color: #f42;
	}
	.info0 a {
		color: #f42;
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
		text-decoration: none;
	}
	.apps-anch a {
		color: rgb(97, 97, 97);
		font-size: 14px;
	}
	.footer-down-div {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.tnw-small {
		width: 50px;
	}
	.footer-down-div span {
		background-color: black;
		font-size: 14px;
	}
	.one-img {
		height: 500px;
		padding: 0;
		width: 100%;
	}
	.info-txt-div,
		 .reddit-div,
		 .red-txt,
		 .simpson,
		 .latest-div1,
		 .wacom,
		 .latest-div2,
		 .latest-div3,
		 .creative-div,
		 .launch-div,
		 .deals-cont,
		 .div-4-eigh {
		margin-top: 0;
		width: 98%;
	}
	.latest-div3 {
		width: 100%;
	}
	.div-4-eight {
		padding-right: 50px;
	}
	.footer-up-div {
		height: 100px;
	}
	.list-container {
		display: grid;
		grid-template-columns: repeat(5, auto);
	}
	.icon-cont li {
		padding: 7px;
	}
	.top-img-div > .deals-cont img {
		float: left;
		height: 80px;
		margin-right: 17px;
		width: 119px;
	}
	.simpson h4 {
		width: 90%;
	}
	.insight h4 {
		width: 90%;
	}
	.reddit-div h4 {
		width: 90%;
	}
	.fb-class h2,
		 .fb-class h4 {
		font-size: 1em;
		top: 30px;
	}
	.funding-list a {
		font-size: 14px;
	}
	.info a {
		color: #f42;
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
		text-decoration: none;
	}
}
.simpson::before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 1) 95%);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.reddit-div::before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 95%);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.white-nav .button:hover {
	background-color: #500d50;
}
.event-drop:hover > .event-list,
.biz-drop:hover > .bizlist {
	background-color: black;
	display: block;
}
.event-list a:hover {
	border: 1px solid #918888;
	color: #fff;
}
.bizlist a:hover {
	border: 1px solid #8b8080;
	color: #d8cdcd;
}
.info a:hover {
	color: #383838;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}
.info0 a:hover {
	color: #f42;
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}
.latest-d {
	font-size: 40px;
	margin-left: 10px;
}
.latest-d a {
	margin-top: 50px;
	position: relative;
	top: 30px;
}