
*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.top-header {
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
}

.top-div li, .top-div a, .white-nav li, .white-nav a{
    list-style-type: none;
    text-decoration-line: none;
    font-size: 12px;
    padding: 5px;
    color: #808080;
}

.white-nav li, .white-nav a {
    list-style-type: none;
    text-decoration-line: none;
    font-size: 13px;
    padding: 5px;
    color: #999595;
    line-height: 10px;
    }

#news {
    color: #fff;
    margin-left: 10px;
}

.white-cont{
    position: sticky;
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    background-color: #1f1d1d;
}

.left-list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 500px;
}


.right-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 300px;
}

.event-list, .bizlist {
    display: none;
    
}

.event-drop:hover > .event-list, 
.biz-drop:hover > .bizlist{
    display: block;
    background-color: black;
    
}

#neural{
  margin-right: 80px; 
}

.event-list a:hover {
color: #ffffff;
border: 1px solid #918888;
}

.bizlist a:hover {
    color: #d8cdcd;
    border: 1px solid #8b8080;

}

.event-list, .bizlist {
position: absolute;
}

.white-nav, .right-white-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color:white;
    align-items: center;
}

.left-white-list{
    display: grid;
    grid-template-columns: repeat(6,auto);
}

.white-nav {
    height: 40px;
}

.svg-inline--fa.fa-search.fa-w-16 {
    border-left: 1px solid #6e6b6b;
    bottom: 5px;
    height: 42px;
    padding-left: 20px;
    position: relative;
    width: 20px;
    left: 20px;
}

.left-white-list #latest-d {
    margin: 0;
}

.white-nav-img{
    height: 30px;
    width: 205px;    
}

#date {
    color: #e04141;
    font-size: 20px;
    font-weight: 700;
}

.white-nav .button {
    width: 145px;
    height: 35px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #00cccc;
    border: 0;
    padding: 10px;
    color: #d6cdcd;
    font-weight: 700;
}

#fund-round {
    font-size: 30px;
}

.funding-list li {
    font-size: 18px;
}

.white-nav .button:hover {
    background-color:#500d50; 
}

.right-white-list{
    height: 40px;
}

#latest {
    margin-left: 10px;
}

.funding-img-cont {
    gap: 25px;
    margin-right: 50px;
    margin-left: 50px;
}


#one-img {
   width: 100%;
}

.yellow a {
    text-decoration-line: none;
    margin-left: 20px;
    position: relative;
    top: 5px;
    font-size: 12px;
    color: #251f1f;
}

.yellow {
    background-color: #ffdd33;
    height: 30px;
    width: 100%;
    
}


.bio-tnw{
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    padding-left: 10px;
    position: relative;
    top: 90px;
    width: 100vw;
}

.right-art{
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.right-art-top{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Sprint_image.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
    grid-row: 1;
    position: relative;
    margin: 5px 5px 10px 10px;
}
.right-art-top::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.right-art-top a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    position: relative;
    top: 70px;
    left: 15px;
    line-height: 30px;
    z-index: 0;
}

.right-art-bottom{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/bmw-ix3-all-electric-car-suv-sav-shift-evs-796x448.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
    grid-row: 2;
    position: relative;
    margin: 0 0 10px 10px;
}

.right-art-bottom::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.right-art-bottom a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    position: relative;
    top: 40px;
    line-height: 35px;
    z-index: 0;
    display: block;
    left: 10px;
    margin-left: 15px;
    width:300px;
}

.left-art {
    display: grid;
    grid-template-rows: repeat(2,auto);
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-apple-own-arm-based-chips-796x417.png");
    background-size: 100% 100%;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
    height: 81.7vh;
    margin-top: 5px;
    z-index: 0;
    position: relative;
}
.left-art::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgb(224, 108, 108) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.left-art img{
    width: 60%;
    height: 200px;
    position: relative;
    z-index: 0;
    padding: 20px;
    bottom: 20px;
}

.left-art p{
    text-align: right;
    height: 5px;
    position: relative;
    top: 25px;
    right: 50px;
    z-index: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-art h1{
    font-size: 35px;
    position: relative;
    z-index: 0;
    padding: 20px;
    bottom: 30px;
}

.left-art h4{
    position: relative;
    right: 0px;
    bottom: 80px;
    z-index: 0;
    margin-left: 20px;
}

.left-art a{
    text-decoration: none;
    color: #FFFFFF;
  
}

.left-art-top, .left-art-down{
    width: 100%;
    height: 198px;
}

.right-top-img {
    width: 100%;
    height: 198px;
}

.right-bottom-img {
    width: 100%;
    height: 198px;
}

 .info {
    margin: 50px 0 0 0 ;
}

.info h1 {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #FF4422;
}

.info a:hover {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    }

.info-txt-div {
    width: 370px;
    padding-right: 20px;
}

.info-txt-div small {
font-size: 20px;
}

.news-latest {
    font-size: 40px;
    margin: 50px 0 0 20px;
    position: relative;
}

.img-clue a{
    color: #000000;
    font-size: 16px;
    word-wrap: break-word;
    text-justify: newspaper;
}

#latest-d {
    font-size: 40px;
    margin-left: 0px;
}

.top-img-div{
    color: #000000;
    width: 270px;
    gap: 20px;
    position: relative;
    margin-left: 10px;
}

.top-header, .app-div {
    display: grid;
    grid-template-rows: repeat(4,auto);
    width: 100%;

}
.footer-cont {
    display: grid;
    grid-template-rows: repeat(2,auto);
    width: 100vw;
}

.footer-up-div {
    display: grid;
    grid-template-rows: repeat(2,auto);
    width: 100vw;
}

.funding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 20px;
}

.funding-nav ul{
    list-style: none;
    width: 320px;
    display: grid;
    grid-column: 2;
    font-size: 16px;
    padding: 60px 60px 0 0;
    color: #FF4422;
    position: relative;
    left: 40px;
    margin-left: 40px;
}

.red h4{
    width: 270px;
}
#fund-round {
    margin-left: 60px;
}

#latest-d {
    margin-left: 10px;
}

.funding img{
    margin-left: 40px;
    justify-content: space-between;
}

.funding-list a {
    color: #f42;
}

.get-mail {
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.apps{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin: 0 20px 0 20px;
    justify-content: center
}


.apps-txt{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    height: 30px;
}
.apps-txt1{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    height: 30px;
}
.apps-txt2{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    height: 30px;
}

.reddit-div{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/01/reddit-argument-513x270.png");
    background-size: cover;
    height: 270px;
    width: 360px;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    z-index: 0;
}
.reddit-div::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.reddit-div h2{
    position: relative;
    top: 120px;
    left: 20px;
    z-index: 0;
}
.reddit-div a{
    position: relative;
    top: 80px;
    left: 20px;
    font-size: 14px;
    z-index: 0;
}
.reddit-div small{
    position: relative;
    top: 40px;
    left: 20px;
    z-index: 0;
}

.reddit-div a{
    color: #FFFFFF;
}
.reddit-div h2{
    color: #FFFFFF;
}
.reddit-div small{
    color: #FFFFFF;
}

.red-txt, .latest-div1,.latest-div2,
 .latest-div3, .latest-div4,
 .latest-div5,.latest-div6, 
 .latest-div7{
    color: red;
    background-color: rgb(252, 213, 210);
    justify-items: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 120px;
    width: 360px;
}

.red-txt a{
    color: red;
    width: 200px;
}

.latest-div4 a {
    color: red;
}

.red-txt img, .latest-div1 img,
.latest-div2 img, .latest-div3 img,
.latest-div4 img,.latest-div5 img,
 .latest-div6 img, .latest-div7 img {
    width: 120px;
    height: 120px;
  
}

.ul-1{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}

.ul-1 li{
    color: #f42;
    border-bottom: 1px solid rgba(180, 178, 178, 0.788);
    margin: 5px 0 5px 0;
    align-content: center;
}

.ul-2{
    display: grid;
    grid-column: 2;
    grid-row: 4;
    padding-top: 5px; 
}

.ul-2 li{
    color: #f42;
    border-bottom: 1px solid grey;
}

.ul-3 li{
    color: #f42;
    border-bottom: 1px solid grey;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ul-4{
    display: grid;
    grid-column: 1;
    grid-row: 8;
    font-size: 14px;
}

.ul-4 li{
    color: #f42;
    border-bottom: 1px solid rgba(128, 128, 128, 0.657);
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ul-5{
    display: grid;
    grid-column: 1;
    grid-row: 8;
    font-size: 14px;
}

.ul-5 li{
    color: #f42;
    border-bottom: 1px solid rgba(128, 128, 128, 0.657);
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ul-6 {
    display: grid;
    grid-column: 1;
    grid-row: 12;
    font-size: 14px;
}

.ul-6 li{
    color: #f42;
    border-bottom: 1px solid rgba(128, 128, 128, 0.657);
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ul-7 {
    display: grid;
    grid-column: 2;
    grid-row: 4;
    padding-top: 5px; 
}
.ul-7 li{
    color: #f42;
    border-bottom: 1px solid grey;
}

.ul-8{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}

.ul-8 li{
    color: #f42;
    border-bottom: 1px solid rgba(180, 178, 178, 0.788);
    margin: 5px 0 5px 0;
    align-content: center;
}


.latest-div1 h4{
    color: red;
    padding: 20px 0 10px 0;
}
.latest-div1 a{
    color: red;
    width: 200px;
    position: relative;
    bottom: 10px;
}





.latest-div2 a{
    color: red;
    width: 200px;
    position: relative;
    
}
.latest-div2 h4{
  padding-top: 20px;
}

.latest-div3 a{
    padding-top: 10px;
    color: red;
    width:200px;
}

.latest-div3 h4{
   padding-top: 10px;
    color: red;
}

.apps-anch  a {
    font-size: 20px;
    line-height: 15px;
}

.micro-grav2 h4{
font-size: 25px;
}

.latest-div4 h4{
                       padding-top: 10px;
    color: red;
}


.latest-div5 a{
    padding-top: 10px;
    color: red;
    width:200px;
}
.latest-div5 h4{
    padding-top: 10px;
    color: red;
}

.latest-div6 a{
    font-size: 13px;
    padding-top: 10px;
    color: red;
    width:200px;
    position: relative;
    bottom: 5px;
}
.latest-div6 h4{
    padding-top: 10px;
    color: red;
}

.latest-div7 h4{
    color: red;
    padding: 20px 0 10px 0;
    position: relative;
    bottom: 5px;
}

.latest-div7 a {
    color: red;
    width: 240px;
    font-size: 13px;
    position: relative;
    bottom: 20px;
}


.simpson {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-the-outer-worlds-516x270.png");
    color: #FFFFFF;
    background-size: cover;
    height: 276px;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    position: relative;
    width: 360px;
}
.simpson::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.simpson a{
    color: #FFFFFF;
    position: relative;
    top: 80px;
    font-size: 14px;
    left: 20px;
}
.simpson small{
    position: relative;
    top: 40px;
    left: 20px;
}
.simpson h2{
    position: relative;
    top: 120px;
    left: 20px;
}
.wacom {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/1-5-796x417.jpg");
    color: #FFFFFF;
    height: 276px;
    background-size: cover;
    display: grid;
    grid-column: 3;
    grid-row: 2;
    position: relative;
    z-index: 0;
    width: 360px;
}
.wacom a{
    color: #FFFFFF;
    position: relative;
    top: 70px;
    left: 20px;
    font-size: 12px;
}

.wacom small{
    color: #FFFFFF;
    position: relative;
    top: 50px;
    left: 20px;
}

.wacom h2{
    color: #FFFFFF;
    position: relative;
    top: 90px;
    left: 20px;
}

.wacom::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.creativity {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/12/2017-07-30-07-28-00-1000x667-405x270.jpg");
    background-size: cover;
    height: 276px;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    position: relative;
}
.creativity::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.creativity a{
    color: #FFFFFF;
    position: relative;
    top: 70px;
    left: 20px;
}

.creativity h2{
    color: #FFFFFF;
    position: relative;
    top: 80px;
    left: 20px;
}

.creativity small{
    color: #FFFFFF;
    position: relative;
    top: 50px;
    left: 20px;
}

.hacka {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F08%2Fbitcoin_today-header_bitcoin_today.jpg&signature=b75eca35f42accc83310a4fa4e562088");
    color: #FFFFFF;
    background-size: cover;
    height: 276px;
    position: relative;
}

.hacka::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.hacka a{
    color: #FFFFFF;
    position: relative;
    top: 140px;
    left: 20px;
}

.hacka h2{
    position: relative;
    top: 120px;
    left: 20px;
}

.hacka small{
    position: relative;
    top: 160px;
    left: 20px;
}

.insight {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=600%2C336&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F06%2Fengineering-manager-gq.png&signature=f82fe12063e6b866a4ed5344df2dbd75");
    color: #FFFFFF;
    background-size: cover;
    height: 276px;
    position: relative;
    z-index: 0;
}

.insight::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.insight a{
    color: #FFFFFF;
    position: relative;
    top: 140px;
    left: 20px;
}

.insight h2{
    position: relative;
    top: 120px;
    left: 20px;
}

.insight small{
    position: relative;
    top: 160px;
    left: 20px;
}

.fb-class{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Facebook-Discover-796x419.jpg");
    color: #FFFFFF;
    background-size: cover;
    height: 276px;
    position: relative;
}

.fb-class::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.fb-class a{
    color: #FFFFFF;
    position: relative;
    top: 120px;
    left: 20px;
}

.fb-class h2{
    position: relative;
    top: 100px;
    left: 20px;
}

.fb-class small{
    position: relative;
    top: 130px;
    left: 20px;
}

.fb-class h1 {
    font-size: 20px;
}

.iwatch h1 {
    font-size: 18px;
}

.iwatch{
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F06%2Fheader-image-apple-watch-band-bands.png&signature=e71f734a54cf45be7afa11767acb60fa");
    color: #FFFFFF;
    background-size: cover;
    height: 276px;
    position: relative;
}

.iwatch::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.iwatch h2{
    position: relative;
    top: 100px;
    left: 20px;
}

.iwatch a{
    color: #FFFFFF;
    position: relative;
    top: 120px;
    left: 20px;
}

.iwatch small{
    color: #FFFFFF;
    position: relative;
    top: 130px;
    left: 20px;
}

.div-4-eight {
    display: grid;
    grid-template-rows: repeat(5, auto);
    position: relative;
    bottom: 30px;
}
.apps-anch{
    display: grid;
    grid-template-rows: repeat(5, auto);
    padding: 15px 40px 0 40px; 
}

.top-img-div, 
.top-img-caps, 
.next-img-div, 
.next-img-cap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 5px;
    row-gap: 5px;
}

#latest-d a {
    position: relative;
    margin-top: 50px;
    top: 30px
}

.funding-img-cont{
    display: grid;
    grid-template-columns: repeat(4, auto);
    }

.funding-img-cont  img {
    height: 300px;
    width: 270px;
}

.one{
    display: grid;
    grid-column: 1;
    margin-left: 10px;
}

.two{
    display: grid;
    grid-column: 2;
}

.three{
    display: grid;
    grid-column: 3;
}

.four{
    display: grid;
    grid-column: 4;
    margin-right: 10px;
}

.micro-grav {
    width: 270px;  
    padding-right: 20px;
}

.micro-grav h4{
    width: 270px;
    
}

.top-img-div img,
.next-img-div img, .apps-img {
    height: 210px;
    width:270px;
}

.top-img-caps .img-clue,
 .next-img-cap .img-clue {
    width: 240px;
    height: 100px;
    
}

.cont-main {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(9, auto);
    overflow-x: hidden;
}

.funding-up,.latest-div{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.funding-list, .launch-cont  {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.funding-list {
    margin-right: 55px;
}

.creative-cont{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}

.creative-div, .launch-div {
    width: 360px;
}

.latest-img {
    width: 30px;
    height: 90px;
}

.icon-cont {
    display: grid;
    grid-template-columns: repeat(7, auto);
    position: relative;
    bottom: 10px;
    width: 100vw;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    position: relative;
    bottom: 20px;
}

.tnw-small {
    width:50px   
}

.footer-up-div *{
    list-style-type: none;
    text-decoration-line: none;
    justify-content: center;
}

.list-container li {
    padding: 0 10px 0 10px;
}

.list-container a, .icon-cont a{
    color: #f1ecec;
}

.deals-cont {
    padding-right: 20px;
}

.icon-cont li {
    padding: 0 20px 0 20px;
    color: white;
}

.icon-div {
    padding: 30px 0 20px 0;
    width: 100vw;
}

.signal-img {
    width: 30px;
    height: 30px;
}

.footer-up-div {
    height: 100px;
    background-color: #1f1d1d;
}

.footer-down-div {
    background-color: #070707;
    text-align: center;
    height: 80px;
}

.footer-down-div span {
  color: #e7e3e3;
  position: relative;
  top: 35px;
}

.footer-down-div a {
    color: #e9e3e3;
}


.footer-down-div b {
    color:#c20606;
}



/*Media Queries*/

/*Medium Screen*/
@media screen and (max-width: 1215px) and (min-width: 782px){


    body{
        width: 100%;
        overflow-x: hidden;
    }
    .top-header {
        display: none;
    }

    .small-header{
        position: fixed;
        background-color: #FFFFFF;
        z-index: 1;
        width: 100%;
        overflow-x: hidden;
    }

    .small-header {
        display: grid;
        grid-template-rows: repeat(2, auto);
    }
    
    .small-top-bar {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      width: 100%;
      height: 100px;
    }
    
    
    .fas.fa-search.fa-3x, .fas.fa-bars.fa-3x {
        padding: 25px;
        border-left: 1px solid #3f3c3c
    }
    
    .fas.fa-bars.fa-3x {
        color: red;
    }
    
    .yellow-bar {
    background-color: #ffdd33;
    height: 100px;
    }
    
    .yellow-bar h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    padding: 25px;
    }
    

.bio-tnw{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    padding-left: 10px;
    position: relative;
    top: 200px;
}

.right-art{
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.right-art-top{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Sprint_image.jpg");
    background-size: cover;
    width: 98%;
    height: 40vh;
    grid-row: 1;
    position: relative;
    margin: 5px 10px 10px 10px;
}
.right-art-top::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.right-art-top a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 10px;
    line-height: 30px;
    z-index: 0;
}

.right-art-bottom{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/bmw-ix3-all-electric-car-suv-sav-shift-evs-796x448.jpg");
    background-size: cover;
    height: 40.7vh;
    width: 100%;
    grid-row: 2;
    position: relative;
    margin: 0 0 10px 10px;
}




.right-art-bottom::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 1) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.right-art-bottom a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    position: relative;
    top: 30px;
    line-height: 35px;
    z-index: 0;
    display: block;
    margin-left: 15px;
    right: 5px;
    width: 250px;
}

.left-art {
    display: grid;
    grid-template-rows: repeat(2,auto);
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-apple-own-arm-based-chips-796x417.png");
    background-size: 100% 100%;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
    height: 82vh;
    margin-top: 5px;
    z-index: 0;
    position: relative;
}
.left-art::before{
    content: '';
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 10%,
      rgb(224, 108, 108) 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.left-art img{
    width: 60%;
    height: 200px;
    position: relative;
    z-index: 0;
    padding: 20px;
}

.left-art p{
    text-align: right;
    height: 5px;
    position: relative;
    top: 5px;
    right: 50px;
    z-index: 0;
}

.left-art h1{
    font-size: 35px;
    position: relative;
    z-index: 0;
    padding: 20px;
    bottom: 30px;
}

.left-art h4{
    position: relative;
    right: 0px;
    bottom: 80px;
    z-index: 0;
    margin-left: 20px;
}

.left-art a{
    text-decoration: none;
    color: #FFFFFF;
  
}

.left-art-top, .left-art-down{
    width: 100%;
    height: 198px;
}

.right-top-img {
    width: 100%;
    height: 198px;
}

.div-extra {
    justify-self: start;
    width: 200px;
    margin-top: 20px;
    padding-left: 20px;
}

.latest-div1 h4, .latest-div2 h4 {
    color: red;
    padding: 20px 0 10px 0;
    position: relative;
    bottom: 20px;
}

.latest-div4, .latest-div5, 
.latest-div6, .latest-div7 {
    width: 100%;
}

.latest-div2 a {
    color: red;
    width: 200px;
    position: relative;
    bottom: 30px;
}

.eight-grids{
    position: relative;
    margin-left: 80px;
    margin-bottom: 100px;
}

.top-img-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    top: 5px;
    position: relative;
    margin: 80px;
}

.micro-grav, .red {
    width: 350px;
    height: 310px;
    margin-top: 170px;
}

.top-img-div img {
    width: 350px;
    height: 310px;
}

.micro-grav2  h4, .apps small {
    font-size: 21px;
}

.news-latest {
    margin-left: 120px;
    font-size: 35px;
    position: relative;
    top: 115px;
}

.funding {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.apps-h1 h1{
    font-size: 55px;
    position: relative;
    bottom: 30px;
    width: 500px;
}

#apps-h1 h1{
    font-size: 55px;
}

.apps-anch a {
    font-size: 40px;
    line-height: 35px;
}

.funding-list {
    display: grid;
    grid-template-columns: 1fr;
    left: 40px;
    margin-left: 40px;
}

.funding-nav ul {
  bottom: 40px;
}

.funding-list li, #fund-round {
    padding: 5px;
    font-size: 30px;
}

.funding {
    position: relative;
    bottom: 60px;
}

#fund-round {
    padding: 5px;
    font-size: 30px;
    margin-left: 80px;
}

.funding-img-cont {
    position: relative;
    bottom: 80px;
}

.get-mail {
    border-left: none;
    border-right: none;
}

.one {
    margin-left: 0;
}

.funding-img-cont, .apps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: hidden;
    padding: 0 20px 0 20px;

}

.footer-down-div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.tnw-small {
    width: 100px;
}

.footer-down-div span {
    font-size: 30px;
    background-color: black;

}

#one-img {
    padding: 0;
    width: 100%;
    height: 500px;
}

.info-txt-div, .reddit-div, .red-txt, .simpson, 
.latest-div1,.wacom, .latest-div2, .latest-div3, 
.creative-div, .launch-div, .deals-cont, .div-4-eigh{
    width: 100%;
}

.div-4-eight {
    padding-right: 50px;
}

.fb-class h2, .fb-class h1, #apps-h1 h1 {
    width: 500px;
}

.deals-cont {
    padding-right: 20px;
}

.deals-cont span {
    font-size: 25px;
    font-weight: 500;
}

.deals-cont h4 {
    font-size: 30px;
}

#latest-d  {
    position: relative;
    margin-left: 75px;
    top: 40px;
}

.news-latest {
    position: relative;
    top: 250px;
    margin-left: 80px;
}

}


 /*Small Screen*/
@media screen and ( max-width: 782px ){
    .top-header {
    display: none;
}

.small-header{
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
}

.small-header {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.small-top-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  width: 100%;
  height: 100px;
}


.fas.fa-search.fa-3x, .fas.fa-bars.fa-3x {
    padding: 25px;
    border-left: 1px solid #3f3c3c
}

.fas.fa-bars.fa-3x {
    color: red;
}

.yellow-bar {
background-color: #ffdd33;
height: 125px;
}

.yellow-bar h4 {
text-align: center;
font-size: 20px;
margin-top: 10px;
padding: 25px;
}

.bio-tnw {
    display: grid;
    grid-template-columns: 1fr;
    top:10px;
    margin-top: 190px;
    z-index: 0;
}

.div-4-eight {
    right: 0px;
    padding-left: 20px;
    left: 0px
}
.cont-main {
    overflow-x: hidden;
}

.right-art-top, .right-art-bottom, .left-art {
    width: 100%;
    padding: 0px;
    margin: 5px 0 5px 0;
    height: 500px;
    font-size: 40px;
}

.left-art h1,
.right-art-top a {
    font-size: 30px;
    margin-left: 50px;
}
.left-art h4 {
    margin-left: 70px;
}

.funding-img-cont {
 margin: 0 10px 0 10px;   
}

.red-txt, .latest-div1,.latest-div2,
 .latest-div3, .latest-div4,
 .latest-div5,.latest-div6, 
 .latest-div7{
    color: red;
    background-color: rgb(252, 213, 210);
    justify-items: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    height: 120px;
    width: 360px;
}


.right-art-top a, .right-art-bottom a {
    padding: 30px;
    margin-top: 50px;
    top: 150px;
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.latest-div4, .latest-div5, 
.latest-div6, .latest-div7 {
    width: 100%;
}

.eight-grids{
    width: 100%;
}

.micro-grav2 h4 {
    font-size: 20px;
    width: 200px;
}

.info-txt-div {
    padding-right: 0;
}

.right-art-bottom a {
    top: 50px;
    width: 500px
}

.apps {
    margin: 0 10px 0 10px;
}

.top-img-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 750px;
}

.micro-grav, .red, .deals-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.micro-grav2 {
    padding-left: 20px;
    width: 100%;
    font-size: 15px;
    font-weight: 200;
}

.top-img-div img{
    height: 300px;
    width: 350px;
}

.funding {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.funding-list {
    display: grid;
    grid-template-columns: 1fr;
    left: 80px;
}

.funding-nav ul {
  bottom: 40px;
}

.funding-list li, #fund-round {
    padding: 5px;
    font-size: 30px;
}

#fund-round {
    padding: 5px;
    font-size: 30px;
    margin-left: 80px;
}

.get-mail {
    border-left: none;
    border-right: none;
}

.one {
    margin-left: 0;
}

.funding-img-cont, .apps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

 .apps h1, .apps-anch {
     width: 500px;
}

.apps-anch a {
    font-size: 25px;
    line-height: 25px;
}

.footer-down-div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
}

.tnw-small {
    width: 100px;
}

.footer-down-div span {
    font-size: 30px;
    background-color: black;
    width: 100vw;
}

#one-img {
    width: 95%;
    height: 500px;
}

.info-txt-div, .reddit-div, .red-txt, .simpson, 
.latest-div1,.wacom, .latest-div2, .latest-div3, 
.creative-div, .launch-div, .deals-cont, .div-4-eigh{
    width: 100%;
}

.deals-cont h4 {
    font-size: 20px;
    width: 200px;
}

#latest-d {
    margin-left: 40px;
}


}

/*Big Screen*/
@media ( min-width: 1216px ) and (max-width: 1620px) {
.small-header {
    display: none;
}

.eight-grids {
    width: 100%;
    margin:70px 0 40px 0;
    position: relative;
    left: 50px;
}



#stub-para {
    font-size: 30px;
    width: 400px;
 }

}


@media screen and (min-width: 1620px) {
    .small-header {
        display: none;
    }
    
    .eight-grids{
        width: 100%;
        position: relative;
        top: 30px;
        left: 50px;
    }
    
    #stub-para {
    font-size: 30px;
    width: 400px;
        }

}